---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Asciidoc Loader Mock.">

	<div class="px-4 py-6 flex justify-center items-center">
		<h1 class="text-6xl">Welcome to Asciidoc Loader Mock.</h1>

	</div>

	<main>
		<div class="container mx-auto h-screen px-8 py-12">
			<div class="flex justify-center items-center">
				<div class="space-y-8">
					<div class="text-2xl">
						Please click on the link to got to syntax display
					</div>
					<div class="flex gap-2">
						<a href="/syntax-display" 
						class:list={[
						"text-xl", 
						"underline underline-black underline-solid underline-3","underline-offset-12", 					 
						"transition-colors duration-100 ease-in ",
						"[&:is(:hover,:focus)]:(bg-black text-white)"
						]}
						 >
						 Syntax Display
						</a>
					</div>
				</div>
			</div>
		</div>
	</main>


</Layout>

