---
import "@fontsource/raleway/700.css";
import "@fontsource/raleway/900.css";
import "@fontsource/palanquin";
import "@fontsource/palanquin/300.css";
import "@fontsource/palanquin/200.css";
import "@fontsource/palanquin/100.css";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <style lang="postcss" is:global>
      :root {
        --step--2: clamp(0.69rem, calc(0.58rem + 0.48vw), 0.96rem);
        --step--1: clamp(0.78rem, calc(0.6rem + 0.75vw), 1.2rem);
        --step-0: clamp(0.88rem, calc(0.62rem + 1.1vw), 1.5rem);
        --step-1: clamp(0.98rem, calc(0.62rem + 1.57vw), 1.88rem);
        --step-2: clamp(1.11rem, calc(0.6rem + 2.19vw), 2.34rem);
        --step-3: clamp(1.25rem, calc(0.55rem + 2.98vw), 2.93rem);
        --step-4: clamp(1.4rem, calc(0.47rem + 4vw), 3.66rem);
        --step-5: clamp(1.58rem, calc(0.33rem + 5.3vw), 4.58rem);

        --heading-font: "Raleway", sans-serif;
        --body-font: "Palanquin", sans-serif;
      }

      body {
        font-size: var(--step-0);
        font-family: var(--body-font);
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        @apply capitalize font-bold;
        font-family: var(--heading-font);
      }

      h1 {
        @apply font-black;
        font-size: var(--step-5);
      }

      h2 {
        font-size: var(--step-4);
      }
      h3 {
        font-size: var(--step-3);
      }
      h4 {
        font-size: var(--step-2);
      }

      img {
        @apply aspect-square object-cover;
      }

      p {
        @apply leading-relaxed max-w-[60vw] font-light;
        font-size: var(--step-1);
      }
      small {
        @apply font-extralight;
        font-size: var(--step--2);
      }
    </style>
  </head>

  <body class="antialiased text-gray-900 bg-gray-50 grid-cols-[auto,1fr,auto]">
    <Navbar />
    <slot />
  </body>
</html>
