/* The color is Slate */
@property --faa-prose-color-950 {
  syntax: '<color>';
  inherits: false;
  initial-value: #020617;
}

@property --faa-prose-color-900 {
  syntax: '<color>';
  inherits: false;
  initial-value: #0f172a;
}

@property --faa-prose-color-800 {
  syntax: '<color>';
  inherits: false;
  initial-value: #1e293b;
}

@property --faa-prose-color-700 {
  syntax: '<color>';
  inherits: false;
  initial-value: #334155;
}

@property --faa-prose-color-600 {
  syntax: '<color>';
  inherits: false;
  initial-value: #475569;
}

@property --faa-prose-color-500 {
  syntax: '<color>';
  inherits: false;
  initial-value: #64748b;
}

@property --faa-prose-color-400 {
  syntax: '<color>';
  inherits: false;
  initial-value: #94a3b8;
}

@property --faa-prose-color-300 {
  syntax: '<color>';
  inherits: false;
  initial-value: #cbd5e1;
}

@property --faa-prose-color-200 {
  syntax: '<color>';
  inherits: false;
  initial-value: #e2e8f0;
}

@property --faa-prose-color-100 {
  syntax: '<color>';
  inherits: false;
  initial-value: #f1f5f9;
}

@property --faa-prose-color-50 {
  syntax: '<color>';
  inherits: false;
  initial-value: #f8fafc;
}
/* End slate */

@property --faa-prose-tip-color {
  syntax: '<color>';
  inherits: false;
  /* Color Emerald-500 */
  initial-value: #10b981;
}

@property --faa-prose-warning-color {
  syntax: '<color>';
  inherits: false;
  /* Color Amber-500 */
  initial-value: #eab308;
}

@property --faa-prose-caution-color {
  syntax: '<color>';
  inherits: false;
  /* Color Red-500 */
  initial-value: #ef4444;
}

@property --faa-prose-note-color {
  syntax: '<color>';
  inherits: false;
  /* Color Cyan 500 */
  initial-value: #06b6d4;
}

@property --faa-prose-important-color {
  syntax: '<color>';
  inherits: false;
  /* Color Zinc-500 */
  initial-value: #71717a;
}

.prose {
  --faa-prose-step-neg-2: clamp(0.6944rem, 0.6913rem + 0.0157vw, 0.7035rem);

  --faa-prose-step-neg-1: clamp(0.8333rem, 0.797rem + 0.1816vw, 0.9377rem);

  --faa-prose-step-0: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);

  --faa-prose-step-1: clamp(1.2rem, 1.0378rem + 0.8109vw, 1.6663rem);

  --faa-prose-step-2: clamp(1.44rem, 1.1683rem + 1.3585vw, 2.2211rem);

  --faa-prose-step-3: clamp(1.728rem, 1.2992rem + 2.1439vw, 2.9607rem);

  --faa-prose-step-4: clamp(2.0736rem, 1.4221rem + 3.2575vw, 3.9467rem);

  --faa-prose-step-5: clamp(2.4883rem, 1.5239rem + 4.8219vw, 5.2609rem);

  --faa-prose-space-1: 0.15em;

  --faa-prose-space-2: 0.3em;

  --faa-prose-space-3: 0.45em;

  --faa-prose-space-4: 0.6em;

  --faa-prose-space-5: 0.75em;

  --faa-prose-space-6: 0.9em;

  --faa-prose-space-7: 1.05em;

  --faa-prose-space-8: 1.2em;

  --faa-prose-space-9: 1.35em;

  --faa-prose-space-10: 1.5em;

  --faa-prose-space-11: 1.65em;

  --faa-prose-space-12: 1.8em;

  --faa-prose-space-13: 1.95em;

  --faa-prose-space-14: 2.1em;

  --faa-prose-space-15: 2.25em;

  display: flex;
  flex-direction: column;
  row-gap: var(--faa-prose-main-gap);
  color: var(--faa-prose-color-900);
  padding: var(--faa-prose-space-7) var(--faa-prose-space-12);
  background-color: var(--faa-prose-color-50);
  font-size: var(--faa-prose-step-0);

  a {
    color: var(--faa-prose-color-500);
    text-decoration: underline;
    line-height: inherit;
  }

  a:is(:hover, :focus, :active) {
    color: var(--faa-prose-color-600);
    outline: 0;
  }

  h1 {
    font-size: var(--faa-prose-step-5);
  }

  h2 {
    font-size: var(--faa-prose-step-4);
  }

  h3 {
    font-size: var(--faa-prose-step-3);
  }

  .sidebarblock > .content > .title {
    font-size: var(--faa-prose-step-1);
  }

  h4 {
    font-size: var(--faa-prose-step-2);
  }

  h5 {
    font-size: var(--faa-prose-step-1);
  }

  .paragraph {
    line-height: 1.6;
    max-width: 65ch;
    text-rendering: optimizeLegibility;
  }

  p:has(.keyseq) {
    display: flex;
    gap: var(--faa-prose-space-4);
  }

  :is(h1, h2, h3, h4, h5) > small {
    font-size: 60%;
    padding: var(--faa-prose-space-2) var(--faa-prose-space-4);
  }

  :is(code, kbd, pre, samp) {
    font-size: var(--faa-prose-step-neg-1);
  }

  pre {
    white-space: pre-wrap;
    color: var(--text-main);
    line-height: 1.45;
    text-rendering: optimizeSpeed;
  }

  small {
    font-size: var(--faa-prose-step-neg-2);
  }

  mark {
    padding: var(--faa-prose-space-2);
    background-color: var(--faa-prose-color-200);
  }

  :is(ul, ol, dl) {
    line-height: 1.6;
    list-style-position: outside;
    font-size: var(--faa-prose-step-neg-1);
    display: flex;
    flex-direction: column;
    gap: var(--faa-prose-space-6);
  }

  :is(ul, ol) li :is(ul, ol) {
    padding-inline: var(--faa-prose-space-9);
    gap: var(--faa-prose-space-5);
  }

  .dlist {
    dl {
      display: flex;
      flex-direction: column;
      gap: var(--faa-prose-space-4);

      dt {
        font-weight: bold;
      }

      dd {
        padding-inline: var(--faa-prose-space-5);
        max-width: 50ch;
      }
    }
  }

  blockquote {
    padding-top: var(--faa-prose-space-4);
    padding-inline: var(--faa-prose-space-8);
    padding-bottom: var(--faa-prose-space-7);
    border-left: 1px solid currentColor;
  }

  blockquote,
  quote p {
    line-height: 1.6;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    word-wrap: normal;
  }

  :is(thead, tfoot) :is(th, td) {
    padding: var(--faa-prose-space-3) var(--faa-prose-space-4);
    font-size: inherit;
    text-align: left;
  }

  :is(th, td) {
    padding: var(--faa-prose-space-3) var(--faa-prose-space-5);
    font-size: inherit;
  }

  :is(#header, #content, #footnotes, #footer) {
    width: 100%;
    max-width: 62.5rem;
    position: relative;
    padding: var(--faa-prose-space-2) var(--faa-prose-space-6);
  }

  :is(#header, #content, #footnotes, #footer)::before,
  :is(#header, #content, #footnotes, #footer)::after {
    content: ' ';
    display: table;
    clear: both;
  }

  #content {
    margin: var(--faa-prose-space-8) 0 var(--faa-prose-space-4);
  }

  #footer {
    max-width: none;
    padding: var(--faa-prose-space-8);
  }

  #footer-text {
    line-height: 1.5;
  }

  .sectionbody {
    display: flex;
    flex-direction: column;
    row-gap: var(--faa-prose-space-12);
  }

  .sect1 {
    padding-bottom: var(--faa-prose-space-4);
  }

  :is([class^='sect']) {
    display: flex;
    flex-direction: column;
    row-gap: var(--faa-prose-space-12);
  }

  :is([class$='block'], [class$='list']) > .title {
    text-rendering: optimizeLegibility;
    text-align: left;
    font-style: italic;
    font-weight: 400;
    margin-bottom: var(--faa-prose-space-8);
    line-height: 1.5;
  }

  .admonitionblock > table:not(:has(td.content .paragraph)) {
    tr {
      border-inline: 1px solid currentColor;
    }

    td.icon {
      padding-inline: var(--faa-prose-space-3);
    }

    td.content {
      border-left: 1px solid currentColor;
    }
  }

  .admonitionblock:has(td.content .paragraph) {
    padding-block: 2.5rem;
  }

  .admonitionblock > table:has(td.content .paragraph) {
    tr {
      display: flex;
      flex-direction: column;
      border-inline: 4px solid currentColor;
      background: #fff;
    }

    td {
      padding-inline: 1.5em;
    }

    td.content {
      padding-inline: 0.75em;
      word-wrap: anywhere;

      display: flex;
      flex-direction: column;
      gap: var(--faa-prose-space-3);

      .title {
        font-size: 1.25rem;
      }

      .paragraph {
        padding-inline: var(--faa-prose-space-3);
      }
    }
  }

  .admonitionblock.tip {
    color: var(--faa-prose-tip-color);
  }

  .admonitionblock.note {
    color: var(--faa-prose-note-color);
  }

  .admonitionblock.important {
    color: var(--faa-prose-important-color);
  }

  .admonitionblock.warning {
    color: var(--faa-prose-warning-color);
  }

  .admonitionblock.caution {
    color: var(--faa-prose-caution-color);
  }

  .literalblock pre,
  .listingblock > .content > pre {
    border-radius: 4px;
    overflow-x: auto;
    padding: 1rem;
    font-size: var(--faa-prose-space-6);
  }

  .sidebarblock {
    border: 1px solid currentColor;
    margin-bottom: var(--faa-prose-space-8);
    padding: var(--faa-prose-space-7);
    border-radius: 4px;
  }

  .quoteblock {
    display: flex;
    flex-direction: column;
    gap: var(--faa-prose-space-4);

    blockquote {
      display: flex;
      flex-direction: column;
      gap: var(--faa-prose-space-2);
    }

    .attribution {
      font-size: var(--faa-prose-step-neg-1);
    }
  }

  .sidebarblock > .content > .title {
    text-align: center;
  }

  .qlist {
    li {
      display: flex;
      flex-direction: column;
      gap: var(--faa-prose-space-4);

      p {
        display: flex;
        gap: var(--faa-prose-space-3);
        font-size: initial;
      }

      p:has(em):before {
        content: 'Q:';
        font-size: var(--faa-prose-step-0);
      }

      p:not(:has(em)):before {
        content: 'A:';
      }

      p:not(:has(em)) {
        padding-inline: var(--faa-prose-space-12);
      }
    }
  }

  /* Utilities */
  .hide {
    display: none;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }

  .text-right {
    text-align: right;
  }

  .text-justify {
    text-align: justify;
  }

  .underline {
    text-decoration: underline;
    text-underline-offset: var(--faa-prose-space-2);
  }

  .line-through {
    text-decoration: line-through;
  }

  .overline {
    text-decoration: overline;
  }

  :not(pre).nobreak {
    word-wrap: normal;
  }

  :not(pre).nowrap {
    white-space: nowrap;
  }

  :not(pre).pre-wrap {
    white-space: pre-wrap;
  }

  div.unbreakable {
    page-break-inside: avoid;
  }

  .stretch {
    width: 100%;
  }

  kbd {
    padding-block: var(--faa-prose-space-3);
    border: 1px solid currentColor;
    border-radius: var(--faa-prose-space-3);
    padding-inline: var(--faa-prose-space-5);
    background-color: var(--faa-prose-color-200);
  }

  .keyseq {
    display: flex;
    gap: var(--faa-prose-space-2);
    align-items: center;
  }

  .colist:not(:has(i)) {
    ol {
      counter-reset: colist;
      li {
        display: flex;
        column-gap: var(--faa-prose-space-3);
        counter-increment: colist;
        color: var(--faa-prose-color-700);
      }

      li::before {
        content: '<' counter(colist) '>';
        font-size: var(--faa-prose-step-neg-2);
        color: var(--faa-prose-color-800);
      }
    }
  }
}
