node_modules
.astro
dist
mock-app
**/.env
**/cache
.nx/workspace-data/**
pnpm-workspace.yaml
vite.config.*.timestamp*
vitest.config.*.timestamp*
.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md
