---
import Layout from "../layouts/Layout.astro";
import { Projector } from "@forastro/utilities";
import { Show, Switch } from "@forastro/flow";
---

<Layout title="Welcome to Astro.">
  <Show when={false}>
    <div>nice</div>
    <div slot="fallback">Not true</div>
  </Show>
  <Switch of={4}>
    <div></div>
  </Switch>
  <Projector templateId="foo" />
  <main>
    <h1>Welcome to <span>Astro</span></h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="link-card-grid"></ul>
  </main>
</Layout>
