---
import { For } from "@forastro/flow";
import { IterationInfo, Projector } from "@forastro/utilities";
import Center from "demo/src/components/Center.astro";
import Container from "demo/src/components/Container.astro";
import IterationInfoTable from "demo/src/components/IterationInfoTable.astro";
import Layout from "demo/src/layouts/Layout.astro";

const names = ["Rich", "Manu", "Theo", "Mack"];
---

<Layout
  title="Utilities"
  description="This is the page for all utilities based things"
>
  <main class="px-12 py-4">
    <Container>
      <Projector templateId={"names-table"} />
    </Container>
  </main>
</Layout>

<template id="names-table">
  <Center gap={"gap-2"}>
    <div class="w-10/12">
      <Center>Names Rendered Using Projector</Center>
    </div>
    <For of={names}>
      {
        (value: string, key: number, info: IterationInfo) => (
          <IterationInfoTable {...{ value, key, info }} />
        )
      }
    </For>
  </Center>
</template>
