---
import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Astro Circle" 
	description='This is the site where you can download Astro icons with Frameworks as icons'	 
>

	<header class="px-12 py-6 ">
		<div class="flex justify-center items-center gap-12">

		<h1>Welcome to the astro framework circle</h1>
		
		<p class="text-xl leading-relaxed max-w-[65ch]">
			This page is a site where you can download a component called the Astro Circle.
			It's a component that is the Astro Icon surrounded by a purple circle.
			To use it you must install `astro-icon` then click on the link to download the icon.  
		</p>

		</div>
	</header>
	<main class="px-12 py-6 ">
	 <div class="flex justify-center items-center">
		<Astr

	</div>
	</main>
</Layout>

	