---
const { entry } = Astro.props; // entry: CollectionEntry<'blog'>
---
<article>
  <h2><a href={`/blog/${entry.slug}/`}>{entry.data.title}</a></h2>
  {entry.data.description && <p>{entry.data.description}</p>}
  <small>{entry.data.pubDate.toDateString()}</small>
</article>
