---
import { Icon } from "astro-icon";
import { Projector, DefineTemplate } from "@forastro/utilities";
import RotationCircleWithTopPosittionedWrapper from "demo/src/components/RotationCircleWithTopPosittionedWrapper.astro";
const topFiveFrameworks = [
  "react",

  "vue",

  "angular",

  "svelte",

  "solid",
] as const;

export interface Props {
  revealedFrameworks: Array<(typeof topFiveFrameworks)[number]>;
  }
          
const { revealedFrameworks } = Astro.props;
---

<DefineTemplate templateName="solid-icon-container">
  <RotationCircleWithTopPosittionedWrapper
    rotateCircleClass={"-rotate-[135deg]"}
    rotateIconClass={"rotate-[135deg]"}
  >
    <Icon name="logos:solidjs-icon" class="w-6" />
  </RotationCircleWithTopPosittionedWrapper>
</DefineTemplate>

<DefineTemplate templateName="svelte-icon-container">
  <RotationCircleWithTopPosittionedWrapper
    rotateCircleClass={"rotate-[135deg]"}
    rotateIconClass={"-rotate-[135deg]"}
  >
    <Icon name="logos:svelte-icon" class="w-6" />
  </RotationCircleWithTopPosittionedWrapper>
</DefineTemplate>
<DefineTemplate templateName="angular-icon-container">
  <RotationCircleWithTopPosittionedWrapper
    rotateCircleClass={"rotate-45"}
    rotateIconClass={"-rotate-45"}
  >
    <Icon name="logos:angular-icon" class="w-6" />
  </RotationCircleWithTopPosittionedWrapper>
</DefineTemplate>
<DefineTemplate templateName="react-icon-container">
  <RotationCircleWithTopPosittionedWrapper
    rotateCircleClass={"rotate-0"}
    rotateIconClass={"rotate-0"}
  >
    <Icon name="logos:react" class="w-6" />
  </RotationCircleWithTopPosittionedWrapper>
</DefineTemplate>
<DefineTemplate templateName="vue-icon-container">
  <RotationCircleWithTopPosittionedWrapper
    rotateCircleClass={"-rotate-45"}
    rotateIconClass={"rotate-45"}
  >
    <Icon name="logos:vue" class="w-6" />
  </RotationCircleWithTopPosittionedWrapper>
</DefineTemplate>
<div
  data-element="icon-container"
  class="relative bg-purple-700 rounded-full w-20 h-20"
>
  <!-- Screen reader text  -->

  <div class="sr-only">Astro Icon Circle</div>

  {
    revealedFrameworks.includes("react") && (
      <Projector templateName={"react-icon-container"} />
    )
  }
  {
    revealedFrameworks.includes("vue") && (
      <Projector templateName={"vue-icon-container"} />
    )
  }
  {
    revealedFrameworks.includes("angular") && (
      <Projector templateName={"angular-icon-container"} />
    )
  }
  {
    revealedFrameworks.includes("solid") && (
      <Projector templateName={"solid-icon-container"} />
    )
  }
  {
    revealedFrameworks.includes("svelte") && (
      <Projector templateName={"svelte-icon-container"} />
    )
  }

  <div data-wrapper class="absolute inset-0">
    <div data-content class="p-2">
      <Icon data-element="astro-icon" name="vscode-icons:file-type-astro" />
    </div>
  </div>
</div>
