---
import type { SpacingNumbers } from "../misc/types";

interface Props {
  gap?: `gap-${SpacingNumbers}`;
}

const { gap = "gap-4" } = Astro.props;
---

<div class="grid place-items-center">
  <slot />
</div>
