<script lang="ts" setup>
  import type { SpacingNumbers } from "~/utilities/types";

  interface Props {
    gap?: `gap-${SpacingNumbers}`;
  }

  const { gap = "gap-4" } = defineProps<Props>();
</script>

<template>
  <div class="grid place-items-center">
    <slot />
  </div>
</template>
