---
import type { FluidPercentages, SpacingNumbers } from "../misc/types";

interface Props {
  gap?: `gap-${SpacingNumbers}`;
}

const { gap = "gap-4" } = Astro.props;
---

<div class:list={["grid place-items-center", gap]}>
  <slot />
</div>
