---
type Props = {
  href: `${`http${"s" | ""}` | "www" | "/"}${string}`;
};

const { href } = Astro.props;
---

<a
  href={href}
  class="border-b border-current focus:outline-none [&:is(:hover,:focus)]:text-gray-700 [&:is(:hover,:focus)]:bg-gray-200"
>
  <slot />
</a>
