---
import { PageLink } from "@forastro/utilities";
import { For } from "@forastro/flow";

const pageNames = ["home", "flow", "utilities"];
---

<nav class="px-6 py-2">
  <div data-content class="sm:flex sm:justify-between sm:items-center">
    <a class="hidden sm:inline-block" href="/">
      <div data-content class="px-6 py-2 text-xl font-bold">For Astro</div>
    </a>
    <div class="grid text-center sm:flex gap-6">
      <For of={pageNames}>
        {
          (value: string) => (
            <PageLink href={value === "home" ? "/" : `/${value}`}>
              <div class="px-2 py-4 capitalize">{value.replace("-", " ")}</div>
            </PageLink>
          )
        }
      </For>
    </div>
  </div>
</nav>
