---
type Props = {
  rotateCircleClass: `${"-" | ""}rotate-${number | `[${number}deg]`}`;
  rotateIconClass: `${"-" | ""}rotate-${number | `[${number}deg]`}`;
};

const { rotateCircleClass, rotateIconClass } = Astro.props;
---

<div
  data-wrapper="anchor"
  class:list={["absolute inset-0 z-10 r", rotateCircleClass]}
>
  <div
    data-wrapper="position"
    class:list={["absolute -top-4 left-1/2 -translate-x-1/2", rotateIconClass]}
  >
    <div
      data-wrapper="transition"
      class="transform transition-transform duration-200 ease-in hover:scale-125"
    >
      <slot />
    </div>
  </div>
</div>

<style></style>
