---
import Center from "./Center.astro";
import Container from "./Container.astro";

type Props = {
  title: string;
  children: Array<astroHTML.JSX.HTMLAttributes>;
};

const { title } = Astro.props;

const dashedTitle = title.replaceAll(" ", "-");
---

<section class="px-4 py-8" aria-labelledby={dashedTitle}>
  <Container>
    <div class="grid gap-4">
      <Center>
        <h2 id={dashedTitle}>{title}</h2>
      </Center>
      <slot />
    </div>
  </Container>
</section>
