---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .filter(p => !p.data.draft)
  .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime());
---
<BaseLayout title="ForAstro Blog">
  <main>
    <h1>Blog</h1>
    {posts.map((p) => <PostCard entry={p} />)}
  </main>
</BaseLayout>
