---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

export interface Props {
	title: string;
	description?: string;
}

const { title, description = 'A simple blog built with Astro and AsciiDoc' } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<div class="prose">
				<slot />
			</div>
		</main>
		<Footer />
	</body>
</html>
