---
import type { InferGetStaticPropsType } from 'astro';
import { Center, Typography } from '~/components';
import Default from '~/layouts/Default.astro';
import {
  getCollectionDataList,
  getCollectionPaths,
  getEntryData,
} from '@forastro/utilities';

export async function getStaticPaths() {
  return await getCollectionPaths('posts', 'slug');
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const entry = Astro.props;
const { Content } = await entry.render();
const { description, title } = entry.data;
---

<Default {title} {description}>
  <div class="py-8 px-20 h-screen">
    <Center gapClass="gap-12">
      <Typography tag="h1">{title}</Typography>

      <article class="prose prose-lg">
        <Content frontmatter={entry.data} />
      </article>
    </Center>
  </div>
</Default>
