---
import { getCollection } from 'astro:content';
import type { InferGetStaticPropsType } from 'astro';
import { Center, Typography } from '~/components';
import Default from '~/layouts/Default.astro';
export async function getStaticPaths() {
    const posts = await getCollection('posts');
    return posts.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { entry } = Astro.props;

const { Content } = await entry.render();
---
<Default title={entry.data.title} description={entry.data.description} >

    <div class="py-8 px-20 h-screen">
        
        
    <Center gapClass="gap-12">
        <Typography tag="h1" >{entry.data.title}</Typography>
        
        <article class="prose prose-lg">
            <Content frontmatter={entry.data} />
        </article>
    </Center>
    
    
</div>
</Default>